.creationCompte{
	border: thick double red;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
}

.groupomania-connexion{
	margin: 50px;
}

.bodyCreationCompte{
	
}

.footerCreerCompte{
	margin-top: 130px;
}

@media only screen and (max-width: 768px){
	.creationCompte{
		width: auto;
	}
	.groupomania-logo{
		width: 50%;
	}
}